<% unless @gem.blank? %>
<div id="gem">
	<h2><%= @gem.name %> <%= raw vote_count(@gem.name) %></h2>

	<div class="gem-info">
		<h3>Info</h3>
		<p>
			<%= raw display_info(@gem, 'name') %>
		</p>
		<p>
			<%= raw display_info(@gem, 'info') %>
		</p>
		<p>
			<%= raw display_info(@gem, 'version') %>
		</p>
		<p>
			<%= raw display_info(@gem, 'version_downloads') %>
		</p>
		<p>
			<%= raw display_info(@gem, 'authors') %>
		</p>
		<p>
			<%= raw display_info(@gem, 'downloads') %>
		</p>
		<p>
			<%= raw display_url(@gem, 'project_uri') %>
		</p>
		<p>
			<%= raw display_url(@gem, 'gem_uri') %>
		</p>
		<p>
			<%= raw display_url(@gem, 'homepage_uri') %>
		</p>
		<p>
			<%= raw display_url(@gem, 'wiki_uri') %>
		</p>
		<p>
			<%= raw display_url(@gem, 'documentation_uri') %>
		</p>
		<p>
			<%= raw display_url(@gem, 'mailing_list_uri') %>
		</p>
		<p>
			<%= raw display_url(@gem, 'source_code_uri') %>
		</p>
		<p>
			<%= raw display_url(@gem, 'bug_tracker_uri') %>
		</p>
		<p>
			<%= raw display_dependencies(@gem, 'runtime_dependencies') %>
		</p>
		<p>
			<%= raw display_dependencies(@gem, 'development_dependencies') %>
		</p>
	</div>
	<div class='deprecated-big'>
		<%= image_tag("/images/deprecated-stamp-right.png", :border => 0) if Vote.deprecated?(@gem.name) %>
	</div>
	
	<div class='activity-info'>

		<div class="project-status">
			<h3>Project Status</h3>
			<p>
				<strong>Total Votes for Deprecation:</strong> <%= Vote.by_name(@gem.name).count %><br />
			</p>
			<p>
				<strong>Current Version Downloads:</strong> <%= @gem.version_downloads %><br />
			</p>
			<p>
				<strong>Total Downloads:</strong> <%= @gem.downloads %><br />
			</p>
			<p>
				<strong>Last Commit Date:</strong> <%= display_last_commit_date @gem.last_commit_date %><br />
			</p>
		</div>
		<div class="dependents">
			<h3>Possible Dependents</h3>
			<% @gem.dependents.each do |dependent| %>
				<%= display_dependency dependent %> <%= image_tag("/images/deprecated-stamp-straight.png", :border => 0, :width => 150, :height => 25) if Vote.deprecated?(dependent.name) %>
				<div class="clear"> </div>
				<br />
			<% end %>
		</div>
		
	</div>
	
	<% if signed_in? %>
		<div class='deprecate-me'>
			<%= link_to image_tag("/images/deprecateme-stamp.png", :border => 0, :width => 400), votes_path(:vote => { :name => @gem.name, :version => @gem.version, :user_id => current_user.id, :timestamp => Time.now }), :method => :post %>
		</div>
	<% end %>
	
	<div class="clear"> </div>
	<hr />
	
	
	
	<div class="clear"> </div>
</div>

<% else %>
	<h2><red>Gem Not Found!</red></h2>
<% end %>
   