<!DOCTYPE html>
<html>
<head>
  <title>DeprecateMe</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
	<div id="header">
		<div id="title">
			<h1><%= link_to "DeprecateMe", root_url %></h1>
		</div>
		<div id="left-header">
			<div id='user-status'>
				<% if signed_in? %>
					Hello <%= link_to current_user.name, profile_path %>. <%= link_to "Logout!", logout_path %> 
				<% else %>
					To vote on a gem, you must <%= link_to "sign in!", login_path %>
				<% end %>
			</div>
			<div id="search">
				<%= form_tag(search_path, :method => "get") do %>
				  <%= text_field_tag(:q) %>
				  <%= submit_tag("Search") %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clear"> </div>
	<div id="nav">
		<%= link_to "Home", root_path %> | 
		<%= link_to "About", page_path("about") %> | 
		<%= link_to "API", page_path("api_docs") %> |
	</div>
	<div id='wrapper'>
		<%- flash.each do |name, msg| -%>
			<%= content_tag :div, raw(msg), :id => "flash_#{name}" %>
		<%- end -%>
		<%= yield %>
	</div>
	<div class="clear"> </div>
	<div id="footer">
		<div id="credits">
			<h3>Credits</h3>
			<p>Theme: Completely and Shamelessly Stolen from <a href="http://rubygems.org">RubyGems.org</a><p>
			<p>Social Buttons: <a href="http://www.komodomedia.com/download/#sign-in-with-twitter-facebook-and-openid">Komodo Media</a></p>
			<p>Idea: Discussion at <a href="http://rubydcamp.org">RubyDCamp</a> about staying up to date with the state of ruby gems</p>
		</div>
		<div id="team">
			<h3>Team</h3>
			<p>Team: <a href="http://rumbl.in/g/o19s">o19s</a></p>
			<p>Developers: <a href="http://twitter.com/ychaer">@ychaker</a> (<a href="http://http://github.com/ychaker">github</a>) [+ everyone else who bailed out on me at the last minute!]</p>
		</div>
		<div class="clear"> </div>
		<p style="text-align:center;">
			RailsRumble 2010 entry for team <a href="http://rumbl.in/g/o19s">o19s</a>. Vote for us! Thanks :)
		</p>
	</div>
	<div class="clear"> </div>
</div>

</body>
<script type="text/javascript">
  var rumbleUrl = 'http://rumbl.in/g/o19s';
</script>
<script type="text/javascript" src="http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"></script>
</html>
